body{
    margin: 0;
    padding: 0;
}

button{
    color:white;
}

.about-main-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-image: linear-gradient(-45deg, rgb(170, 170, 228),rgb(144, 226, 251),white);
    
}
.about-main-container h2{
    text-align: center;
}
.about-container p{
    text-align: justify;
}

.card-container{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
     
}

.about-card{
    width:300px;
    height: 250px;
    margin-top: 10px;
    box-shadow: 0 0 5px 2px rgb(185, 183, 183);
    padding: 10px;
    transition: transform .2s ease-in-out;
    background-color:white;
    border: solid 3px greenyellow;
    animation: glow 2s ease-in-out alternate infinite;
    color: #555;
    border-radius: 15px;
}
.about-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 7px 4px rgb(185, 183, 183);
}
.about-card ul{
    list-style: none;
    text-align: start;
}
.about-card p{
    text-align: justify;
     
}

.visi-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #555;
    
 
}
 
.visi-card{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    padding: 10px;
    box-shadow: 3px 3px 4px 1px orange;
    background-color:white;
   
}

.visi-card:nth-child(1){
    border-radius: 0 20px 0 20px;
}

.visi-card:nth-child(2){
    border-radius: 20px 0 20px 0;
}


.visi-card ul{
    list-style: none;
}

@keyframes glow{
    0%{
        box-shadow: 0px 0px 5px greenyellow;
    }
    100%{
        box-shadow: 0px 0px 20px greenyellow;
    }
}

@media(max-width:704px){
    .card-container{
         
        justify-content: center;
    }
}
@media (max-width:786px){
    .visi-card{
        width:300px
    }
}
@media (max-width:428px){
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.4rem;
    }
    p{
        font-size: 1rem;
    }
}
